body {
	margin: 0px;
}

#background-header {
	background: #1D8089;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 1100px;
	margin: auto;
}

#pagename-user {
	display: flex;
	width: 1100px;
	justify-content: space-between;
}

#pagename-user h3 {
	align-self: center;
}
header h3, header h1, header div {
	color: white;
}

#body-page{
	width: 1100px;
	margin: auto;
}

nav {
	align-self: flex-start;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin-bottom: 0px;
	padding: 0px;
}


nav ul li {
	margin-right: 50px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


article {

}

/* tests */

/*[class*="col"] {
	background-color: lightgreen;
	border: solid 2px grey;
}*/

article {
	margin: 5px;
	background-color: #1D8089;
	box-shadow: 4px 4px 2px grey;
	color: white;
}
