body {
    background-image: url(site_background.jpg);
    background-repeat: repeat;
    width: 70%;
    margin: auto;
}

input, .add_image,  {
    margin: 5px;
}

fieldset, legend, div{
    background: #57afdb;
    border: none;
    margin: 20px;
    border-radius: 5px;
}

.add_image {
    height: 30px;
    width: 30px;
}

h1, h2 {
    text-decoration: underline;
}

thead {
    font-weight: bold;
}

td {
    padding: 15px;
}
